{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/college-style.css') }}">

<div class="container">
  <div class="jumbotron">
    <h1>{{ school }}</h1>
    <span><a href="">WEBSITE</a></span>
  </div>

  <h1>Basic Info</h1>
  <hr>
  <div>Location: (hours)</div>
  <div>Setting:</div>
  <div>Size:</div>
  <div>Private/Public</div>


  <h1>Admissions Info</h1>
  <hr>
  <div>Admittance Rate:</div>
  <div>Early Decision/Early Action:</div>
  <div>Common App:</div>
  <div>Subject Tests:</div>


  <h1>Testing</h1>
  <hr>
  <div>SAT Math:</div>
  <div>SAT Language:</div>
  <div>ACT Composite:</div>
  <div>ACT Scores</div>
  <div>Subject Tests:</div>


  <h1>Credits</h1>
  <hr>
  <div>Calculus AB Subscore</div>
  <div>Calculus BC</div>
  <div>Chemistry</div>
  <div>Computer Science A</div>
  <div>Computer Science Principles</div>
  <div>Government</div>
  <div>Language and Composition</div>
  <div>Literature and Composition</div>
  <div>Macro Economics</div>
  <div>Physics 1</div>
  <div>Physics 2</div>
  <div>Physics C</div>
  <div>Statistics</div>
  <div>U.S. History</div>
  <div>World History</div>






  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>

</div>
