{% include "header.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/college-style.css') }}">
<title>{{ school }}</title>

<!-- To allow HTML tags in data, which Flask autoescapes -->
{% autoescape false %}


<div class="container">
  <div class="jumbotron">
    <a href="{{ data.website }}"><h1>{{ data.name }}</h1></a>
  </div>

  <h1>Basic Info</h1>
  <hr>
  <div class="col-12">
    <!-- 12 columns wide-->
    <table class="table table-hover table-bordered table-responsive">
      <tbody>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Location</th>
          <td class="col-9">{{ data.location }}</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Setting</th>
          <td class="col-9">{{ data.setting }}</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Size</th>
          <td class="col-9">{{ data.size }}</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Public/Private</th>
          <td class="col-9">{{ data.pp }}</td>
        </tr>
      </tbody>
    </table>
  </div>

<h1>Rankings</h1>
<hr>
<div class="col-12">
  <!-- 12 columns wide-->
  <table class="table table-hover table-bordered table-responsive">
    <tbody>
      <tr class="row table-primary">
        <th scope="row" class="col-3"><a href="https://www.usnews.com/best-colleges/rankings/engineering-doctorate-computer">U.S. News</a></th>
        <td class="col-9">{{ data.Usr }}</td>
      </tr>
      <tr class="row table-secondary">
        <th scope="row" class="col-3"><a href="https://www.niche.com/colleges/search/best-colleges-for-computer-science/">Niche</a></th>
        <td class="col-9">{{ data.niR }}</td>
      </tr>
      <tr class="row table-primary">
        <th scope="row" class="col-3"><a href="http://www.bestvalueschools.com/computer-science-degrees-best-roi/">BestValueSchools</a></th>
        <td class="col-9">{{ data.bvsR }}</td>
      </tr>
      <tr class="row table-secondary">
        <th scope="row" class="col-3"><a href="http://www.collegechoice.net/rankings/best-computer-science-degree/">CollegeChoice</a></th>
        <td class="col-9">{{ data.ccnR }}</td>
      </tr>
    </tbody>
  </table>
</div>

  <h1>Admissions Info</h1>
  <hr>
  <div class="col-12">
    <!-- 12 columns wide-->
    <table class="table table-hover table-bordered table-responsive">
      <tbody>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Admit Rate</th>
          <td class="col-9">{{ data.rate }}</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Early Decision/Early Action</th>
          <td class="col-9">{{ data.ED }}</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Common App</th>
          <td class="col-9">{{ data.app }}</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Subject Tests</th>
          <td class="col-9">{{ data.st }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h1>Money</h1>
  <hr>
  <div class="col-12">
    <!-- 12 columns wide-->
    <table class="table table-hover table-bordered table-responsive">
      <tbody>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Yearly Tuition</th>
          <td class="col-9">{{ data.tuition }}</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">By Family Income</th>
          <td class="col-9">{{ data.bracket }}</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Average Financial Aid</th>
          <td class="col-9">{{ data.avgAid }}</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Students Receiving Aid</th>
          <td class="col-9">{{ data.rcvAid }}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <h1>Testing</h1>
  <hr>
  <div class="col-12">
    <!-- 12 columns wide-->
    <table class="table table-hover table-bordered table-responsive">
      <tbody>
        <tr class="row table-primary">
          <th scope="row" class="col-3">SAT Total</th>
          <td class="col-5">{{ data.SAT }}</td>
          <td class="col-4">1480</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">SAT Math</th>
          <td class="col-5">{{ data.SATm }}</td>
          <td class="col-4">720</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">SAT Language</th>
          <td class="col-5">{{ data.SATl }}</td>
          <td class="col-4">780</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Subject Tests</th>
          <td class="col-5">{{ data.sts }}</td>

          <td class="col-4">Math II: 770</td>
        </tr>
      </tbody>
    </table>
  </div>


  <h1>AP Credits</h1> <button type="button" class="btn btn-outline-info inline align-text-bottom">Show All</button>
  <hr>
  <div class="col-12">
    <!-- 12 columns wide-->
    <table class="table table-hover table-bordered table-responsive">
      <tbody>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Calculus AB Subscore</th>
          <td class="col-5">{{ data.ABcalc }}</td>
          <td class="col-4">3</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Calculus BC</th>
          <td class="col-5">{{ data.BCcalc }}</td>
          <td class="col-4">2</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Chemistry</th>
          <td class="col-5">{{ data.chem }}</td>
          <td class="col-4">N/A</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Computer Science A</th>
          <td class="col-5">{{ data.csa }}</td>
          <td class="col-4">5</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Computer Science Principles</th>
          <td class="col-5">{{ data.csp }}</td>
          <td class="col-4">N/A</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Government</th>
          <td class="col-5">{{ data.gov }}</td>
          <td class="col-4">N/A</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Language and Composition</th>
          <td class="col-5">{{ data.lang }}</td>
          <td class="col-4">N/A</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Literature and Composition</th>
          <td class="col-5">{{ data.lit }}</td>
          <td class="col-4">N/A</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Macro Economics</th>
          <td class="col-5">{{ data.econ }}</td>
          <td class="col-4">N/A</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Physics 1</th>
          <td class="col-5">{{ data.phy1 }}</td>
          <td class="col-4">N/A</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">Physics C</th>
          <td class="col-5">{{ data.phyC }}</td>
          <td class="col-4"N/A>N/A</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">Statistics</th>
          <td class="col-5">{{ data.stats }}</td>
          <td class="col-4">N/A</td>
        </tr>
        <tr class="row table-primary">
          <th scope="row" class="col-3">U.S. History</th>
          <td class="col-5">{{ data.apush }}</td>
          <td class="col-4">5</td>
        </tr>
        <tr class="row table-secondary">
          <th scope="row" class="col-3">World History</th>
          <td class="col-5">{{ data.whap }}</td>
          <td class="col-4">3</td>
        </tr>
      </tbody>
    </table>
  </div>


{% endautoescape %}

<!-- Hide if they don't offer credit, I haven't taken it, or my score is too low -->
<script>
    $(document).ready(function() {
        var count = 0;

        var toggle = function() {
            if (count % 2 == 0) {
                $("td").each(function() {
                    if ($(this).text() == "none" || $(this).text() == "N/A" || +($(this).text()) < +($(this).prev().text())) {
                        // Hide rows
                        $(this).parent().addClass("d-none");
                    }
                });

                // Set button text
                $(".btn-outline-info").html("Show All");
            } else {
                $("td").each(function() {
                    // Add rows back
                    $(this).parent().removeClass("d-none");
                })

                // Set button text
                $(".btn-outline-info").html("Hide Inapplicable");
            }

        }

        toggle();

        // Trigger toggle when button is clicked
        $(".btn-outline-info").click(function() {
            count++;
            toggle();
        });
    });
</script>



</div>
